.content {
    max-width: 500px;
    margin: auto;
    }
    
body
{
    max-width: 500px;
    margin: auto;
}

img {
    height: 20%;
    width: 20%;
    border-radius:100%;
}
ul {
height: 50%;
width: 50%;
}

form 
{
    padding: 2%;
    margin: 10%;
}